server:
  servlet:
{% if url_context is defined and url_context != "" %}
    context-path: {{ url_context }}
{% endif %}
  forward-headers-strategy: native

proxy:
  title: Open Analytics Shiny Proxy
  logo-url: https://www.openanalytics.eu/shinyproxy/logo.png
  port: {{ shinyproxy_www_port }}
  authentication: simple
  admin-groups: admins
  users:
    {{ shinyproxy_users | to_nice_yaml | indent }}
  docker:
{% if docker_internal_network is defined and docker_internal_network and container_network != "" %}
      internal-networking: true
{% else %}
      url: http://localhost:2375
{% endif %}
  specs:
    {{ shinyproxy_specs | to_nice_yaml | indent }}

logging:
  file:
    name: shinyproxy.log




